$dayBackground: white;
$dayTextColor: #007bff;
$dayHrColor: lightgrey;
$dayDeleteIconColor: #212529c4;
$nightBackgroundLight: #666666eb;
$nightBackgroundDark: #000000d6;
$nightTextColor: white;
$nightHrColor: #fbfb9f;
$nightDeleteIconColor: white;  

$menuHoverBackground: #605f5f; 
$menuItemPadding: 12px 20px;